@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

h1 {
    padding-left: 400px;
    font-size: 45px;
    font-family: "Bungee Tint", system-ui;
    font-weight: 400;
    font-style: normal;
    background-image: url(roni.png);
    background-size: 60px;
}

th, td {
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 120px;
  }

.soldout {
    color: gainsboro;
    font-style: italic;
    text-decoration: line-through;
}
